.Tasks {
   display: flex;
   flex-direction: column;
   margin-top: 20px;
   padding: 15px 0;
   color: #260d0d;
   text-align: center;
   width: 60%;
   max-width: 700px;
   border-radius: 10px;
   background-color: #ff4000;
}

#task-title{
   font-size: 30px;
   margin: 15px 0px;
}

.task-inputs{
   width: 100%;
   
   & input,button{
      font-size: 20px;
      padding: 10px;
      border: none;
      border-radius: 5px;
      text-align: center;
   }

   & input{
      width: 75%;
   }

   & button{
      background-color: #260d0d;
      width: 15%;
   }

   & button:hover{
      background-color: #bfc9c0be;
   }
}

#tarefa-input{
   border-radius: 10px 0px 0px 10px;
}

#tarefa-button{
   border-radius: 0px 10px 10px 0px;
}

.tarefa {
   display: flex;
   justify-content: space-between; /* Espaça os itens */
   align-items: center; /* Alinha os itens verticalmente */
   padding: 10px;
   border-bottom: 1px solid #ccc;
   font-size: 22px;
   font-weight: bold;
 }
 
 .tarefa span {
   flex-grow: 1; /* Faz com que o texto da tarefa ocupe o espaço disponível */
   cursor: pointer; /* Cursor para indicar que é clicável */
   text-align: left;
   
 }
 
 .tarefa .delete-button {
   border: none;
   padding: 5px 10px;
   cursor: pointer;
   font-size: 20px;
 }

 .delete-button{
   background-color: white;
   color: black;
   border-radius: 5px;
 }
 
 .tarefa .delete-button:hover {
   background-color: #e04a4a;
 }
 
 #tarefa-input {
   width: 80%; /* Ajusta a largura */
   padding: 8px;
 }

 


